/* Header Styles */
header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
}

.logo {
    display: flex;
    align-items: center;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    padding-left: 40px;
    color: white;
}

